body {
    margin: auto 0;
    background: url("images/invite.jpg");
    background-repeat: no-repeat;
    background-size:1370px 700px;
    max-width: 1920px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8c8c8c;
    opacity: 0.6;
    max-width: 1370px;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.intro-img {
    margin-left: 15%;
    max-height: 35%;
    max-width: 35%;
    min-height: 20%;
    min-width: 20%;
    box-shadow:0 0 50px #999;
    animation-name: img;
    animation-duration: 2s;
}
@keyframes img {
    from {
        margin-top: 20px;
        margin-left: 50%;
        transform: scale(0.1);
    }
    to {
        margin-top: 0%;
        margin-left: 15%;
        transform: scale(1.0);
    }
}
.intro-content p {
    font-family: Kaushan Script, cursive; 
    font-size: 25px;
    color: white;
    text-shadow: 4px 4px 4px #99ff99;
    margin-left: 20px;
}
.nav {
    animation-name: door;
    animation-duration: 2s;
}
p::first-letter {
    font-size: 1.5em; 
    font-weight: normal;
    margin-left: 35px;
}
.intro-left {
    float: left;
    width: 50%;
    }
.intro-right {
    float: right;
    width: 50%;
   }
.content {
    position: relative;
    clear: both;
    width: 100%;
    height: 100%;
    }
.footer {
    position: relative;
    clear: both;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: Kaushan Script, cursive;
    font-size: 18px;
    color: white;
    text-shadow: 6px 6px 6px #000410;
    text-align: center;
}
.heart {
	font-size: 20px;
	color: #e00;
	animation: beat .25s infinite alternate;
	transform-origin: center;
}
@keyframes door {
    from {
        margin-top: 20px;
        margin-left: 50%;
        transform: scale(0.1);
    }
    to {
        margin-top: 0%;
        margin-left: 0%;
        transform: scale(1.0);
    }
}
h1 {
    font-family: Philosopher, serif;
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px 4px #99ff99;
    margin-top: 25px;
    margin-left: 120px;
}
.ec-img {
    margin-left: 4%;
    border-radius: 25%;
    float: left;
    margin-right: 1%;
}
.chnu {
    clear: right;
    margin-top: 4%;
    font-family: Kaushan Script, cursive; 
    font-size: 15px;
    color: white;
    text-shadow: 4px 4px 4px #000410;
}
.ss-img {
    position: relative;
    top: 100px;
    left: 100px;
    margin-right: 0px;
    border-radius: 15%;
}
.ss {
    margin-left: 20px;
    margin-bottom: 75px;
    max-width: 19%;
    font-family: Kaushan Script, cursive; 
    font-size: 15px;
    color: white;
    text-shadow: 4px 4px 4px #000410;
}
fieldset {
	border:1px solid #999;
	border-radius:8px;
	box-shadow:0 0 50px #999;
	padding-bottom: 2px;
	width: 250px;
	margin-left: 10%;
}
.gt {
    margin-left: 11%;
    font-family: Kaushan Script, cursive; 
    font-size: 19px;
    color: white;
    text-shadow: 4px 4px 4px #000410;
    min-width: 21%;
  }
legend {
    text-align: center;
    font-family: Kaushan Script, cursive; 
    font-size: 17px;
    color: white;
    text-shadow: 4px 4px 4px #000410;
}
input[type=text], select {
    width: 100%;
    padding: 6px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 6px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea[type=text], select {
    width: 100%;
    padding: 6px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button {
    width:30%;
    padding: 6px 20px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
.button:hover {
    background-color: #ffff80;
}
#facebook, #github, #skype {
    height:35px;
    width:35px;
    margin-left:5%;
}
#facebook {
    margin-left:11%;
}